body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.menubar {
    height: 15%;
    width: 100%;
    overflow: auto;
}

.umeetmenu {
    width: 80%;
    overflow: auto;
}

.logo {
    height: 100%;
    width: 40%;
    float: left;
}

.umeet {
    height: 50%;
    width: 25%;
    margin: 40px 190px;
    background-color: black;
}

.menus {
    height: 100%;
    width: 60%;
    float: left;
}

.items {
    padding: 60px 30px;
    float: left;
}

.home {
    height: 40px;
    width: 80px;
    background-color: black;
}

.conference {
    width: 100%;
    background-color: #6610f2;
}

.container {
    width: 80%;
    background-color: #6610f2;
    padding: 120px;
    margin: auto;
}

.mike {
    height: 80px;
    width: 80px;
    background-color: white;
    margin: auto;
}

.date {
    height: 60px;
    width: 700px;
    background-color: white;
    margin: 40px auto;
}

.title {
    height: 150px;
    width: 1000px;
    background-color: white;
    margin: auto;
}

.buyticket {
    height: 70px;
    width: 250px;
    background-color: deeppink;
    margin: 50px auto;
}

.UX {
    width: 100%;
    background-color: lightgrey;
}

.countainer2 {
    width: 80%;
    background-color: lightgrey;
    margin: auto;
    overflow: auto;
}

.aboutUX {
    width: 40%;
    background-color: lightgrey;
    float: left;
}

.aboutUX2 {
    width: 60%;
    background-color: lightgrey;
    float: left;
}


.UXtitle {
    height: 80px;
    width: 400px;
    background-color: #3b1d82;
    margin: 40px auto;
}

.sentence {
    height: 60px;
    width: 500px;
    background-color: #ea0763;
    margin: 40px auto;

}

.para {
    height: 180px;
    width: 600px;
    background-color: #797979;
    margin: 40px auto;

}

.time {
    width: 680px;
    margin: 35px auto;
}

.clockdiv {
    width: 100%;
    padding: 20px;
    overflow: auto;
}

.itemtime {
    height: 160px;
    width: 180px;
    float: left;
    margin: 0px 15px;
}

.days {
    background-color: #17a2b8;

}

.hours {
    background-color: #ffc107;
}

.mins {
    background-color: #e83e8c;
}

.line {
    height: 60px;
    width: 500px;
    background-color: hotpink;
    margin: 0px auto;
}

.getticket {
    height: 60px;
    width: 200px;
    background-color: #3b1d82;
    margin: 25px auto;
}

.eventt {
    width: 100%;
    padding: 100px;
}

.join-event {
    width: 100%;
    padding: 25px;
}

.join {
    height: 50px;
    width: 300px;
    background-color: black;
    margin: 35px auto;
}

.event {
    height: 70px;
    width: 500px;
    background-color: black;
    margin: 35px auto;
}

.reasons {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.item2 {
    float: left;
    padding: 40px 50px;
}

.service {
    width: 33.33%;
}

.inner {
    width: 100%;
    overflow: auto;
}

.symbol {
    height: 70px;
    width: 70px;
    background-color: blue;
    margin: 20px auto;
}

.servicetitle {
    height: 50px;
    width: 240px;
    background-color: black;
    margin: 20px auto;
}

.paragraph {
    height: 160px;
    width: 430px;
    background-color: darkgrey;
    margin: 20px auto;
}

.option {
    width: 50%;
    margin: auto;
    overflow: auto;
}

.learnmore {
    height: 92px;
    width: 40%;
    background-color: darkslateblue;
    float: left;
    margin: 20px 47px;
}

.speakers {
    width: 100%;
    background-color: #2917c1;
    margin-top: 100px;
}

.joinevent {
    height: 80px;
    width: 350px;
    margin: 20px auto;
    background-color: black;
}

.meet {
    height: 80px;
    width: 550px;
    margin: 20px auto;
    background-color: black;
}

.images {
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 20px 20px;
}

.card {
    height: 550px;
    width: 33.33%;
    float: left;
    padding: 20px;
}

.container3 {
    background-color: #d6dbd5;
    height: 100%;
    width: 100%;
    position: relative;
}

.about {
    height: 40%;
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-color: #39207d;
}

.speakername {
    height: 30%;
    width: 70%;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 70px;
}

.designer {
    height: 30%;
    width: 85%;
    position: absolute;
    top: 100px;
    left: 36px;
    background-color: white;
}

.join-schedule {
    width: 80%;
    margin: auto;
}

.jointheevent {
    height: 70px;
    width: 400px;
    background-color: black;
    margin: 50px auto;
}

.schedule {
    height: 100px;
    width: 800px;
    background-color: black;
    margin: 50px auto;
}

.con {
    width: 100%;
    margin: auto;
    padding: 0px 40px;
}

.conferencedays {
    width: 55%;
    margin: auto;
    overflow: auto;
    padding: 20px 20px;
}

.day2 {
    width: 25%;
    float: left;
    padding: 20px;
}

.dayy {
    height: 180px;
    width: 100%;
    background-color: darkgray;
}

.achievements {
    width: 70%;
    background-color: darkgrey;
    margin: 50px auto 50px;
    overflow: auto;
}

.adam-jamsmith {
    width: 25%;
    background-color: #3f128a;
    display: inline-block;
    padding: 10px;
    float: left;
}

.adam-image {
    height: 80px;
    width: 80px;
    background-color: white;
    margin: 35px auto;
}

.adam-name {
    height: 40px;
    width: 220px;
    margin: 30px auto;
    background-color: white;
}

.adam-UIUX {
    height: 40px;
    width: 200px;
    margin: 25px auto;
    background-color: white;
}

.previous-achivements {
    width: 70%;
    background-color: darkgray;
    position: relative;
    float: left;
    display: inline-block
}

.timing {
    height: 30px;
    width: 400px;
    background-color: grey;
    top: 35px;
    position: absolute;
    left: 50px;
}

.previous-year {
    height: 50px;
    width: 600px;
    background-color: black;
    top: 85px;
    left: 50px;
    position: absolute;
}

.achivement-para {
    height: 120px;
    width: 90%;
    position: absolute;
    background-color: gray;
    top: 160px;
    left: 50px;
}

.ticket-box {
    width: 100%;
    background-color: lightgrey;
    margin: 150px 0px 0px 0px;
}

.event-ticket {
    height: 50px;
    width: 400px;
    background-color: black;
    margin: 50px auto;
}

.choose-ticket {
    height: 90px;
    width: 600px;
    margin: 50px auto;
    background-color: black;
}

.ticket-ticket {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.first-ticket {
    width: 33.33%;
    background-color: lightgrey;
    padding: 30px;
    float: left;
}

.inner4 {
    width: 100%;
    background-color: white;
    float: left;
}

.table-header {
    width: 100%;
    background-color: #6610f2;
    padding: 12px
}

.type {
    height: 60px;
    width: 200px;
    background-color: black;
    margin: 15px auto;
}

.attend {
    height: 50px;
    width: 400px;
    background-color: darkgray;
    margin: 15px auto;
}

.price {
    height: 80px;
    width: 300px;
    margin: auto;
    background-color: black;
}

.table-list {
    width: 100%;
    background-color: #6610f2;
    padding: 13px;
}

.item1 {
    height: 35px;
    width: 55%;
    background-color: darkgray;
    margin: 10px auto;
}

.list {
    height: 80%;
    width: 80%;
    background-color: white;
    margin: 20px auto;
}

.table-footer {
    width: 100%;
    background-color: #6610f2;
    padding: 40px;
}

.buynow {
    height: 90px;
    width: 250px;
    background-color: black;
    margin: auto;
}

.sponsors {
    width: 100%;
    background-color: white;
}

.event-sponsor {
    height: 100px;
    width: 800px;
    background-color: black;
    margin: 50px auto;
}

.join-sponsorevent {
    height: 50px;
    width: 400px;
    margin: 50px auto;
    background-color: black;
}

.studios {
    width: 70%;
    overflow: auto;
    margin: auto;
}

.art {
    height: 250px;
    width: 100%;
    padding: 20px;
    background-color: grey;
}

.studio {
    width: 33.33%;
    float: left;
    padding: 20px;
}

.silver {
    width: 100%;
}

.silver-sponsor {
    height: 70px;
    width: 400px;
    margin: 80px auto;
    background-color: black;
}

.silver-sponsor-table {
    width: 70%;
    margin: auto;
    overflow: auto;
    padding: 20px 20px;
}

.art2 {
    height: 185px;
    width: 100%;
    padding: 20px;
    background-color: grey;
}

.delivery {
    height: 225px;
    width: 33.33%;
    float: left;
    padding: 20px;
}

.sponsor {
    height: 1200px;
    width: 100%;
    margin: auto;
    background-color: antiquewhite
}

.sponsor-images {
    width: 60%;
    margin: auto;
    overflow: auto;
}

.sponsor-image {
    width: 33.33%;
    background-color: #111429;
    float: left;
    margin: auto;
    padding: 2px;
}

.sponsorimage {
    height: 350px;
    width: 100%;
    background-color: white;
}

.news {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.ummet-news-box {
    width: 80%;
    margin: auto;
    background-color: lightgrey;
}

.news-table {
    width: 100%;
    overflow: auto;
}

.ummet-news {
    width: 50%;
    float: left;
    padding: 30px;
}

.owls-image {
    height: 500px;
    width: 100%;
    background-color: black;
}

.owls-text {
    height: 80px;
    width: 95%;
    background-color: white;
    margin: 20px;
}

.owls-timing {
    width: 90%;
    margin: 35px;
    overflow: auto;
}

.owls-date {
    height: 60px;
    width: 35%;
    float: left;
    background-color: white;
    margin: 0px 50px
}

.margin-area {
    height: 200px;
}

.footer {
    background-color: #111429;
    padding: 80px 0 0 0;
}

.footer-box {
    width: 80%;
    margin: 50px auto;
    overflow: auto;
}

.item-footer {
    float: left;
    width: 25%;
    padding: 0px 40px 0px 0px;
}

.footer-box1 {
    background-color: #111429;
}

.footer-box2 {
    background-color: #111429;
}

.footer-box3 {
    background-color: #111429;
}

.footer-box4 {
    background-color: #111429;
}

.footer-box-title {
    height: 60px;
    width: 300px;
    background-color: white;
    margin: 30px 0px 70px 0px;
}

.footer-box-para {
    height: 325px;
    width: 100%;
    padding: 20px;
    background-color: darkgray;
}

.footer-box-link {
    height: 325px;
    width: 100%;
    overflow: auto;
}

.navigation-links {
    width: 50%;
    float: left;
    padding: 0px 20px 0px 0px;
}

.link1 {
    height: 40px;
    width: 160px;
    background-color: darkgrey;
    margin: 0px 0px 30px 0px;
}

.newslater-para {
    height: 150px;
    width: 100%;
    background-color: darkgrey;
}

.Email-box {
    overflow: auto;
}

.Email-ID {
    height: 70px;
    width: 85%;
    margin: 20px 0px;
    background-color: white;
    float: left;
}

.button {
    height: 70px;
    width: 15%;
    margin: 20px 0px;
    background-color: deeppink;
    float: left;
}

.instafeed {
    width: 100%;
    margin: 0px 20px 0px 0px;
    overflow: auto;
}

.feed-image {
    width: 100%;
    height: 70px;
    background-color: darkgray;
}

.instafeed-image {
    height: 90px;
    width: 25%;
    padding: 0px 8px;
    float: left;
}

.copyright-section {
    width: 100%;
}

.copyright-container {
    height: 100px;
    width: 80%;
    margin: auto;
}

.copyright {
    height: 50px;
    width: 65%;
    background-color: darkgray;
    float: left;
}

.social-icons {
    width: 35%;
    background-color: #111429;
    float: left;
    padding: 0px 20px;
}

.social-media {
    height: 50px;
    width: 370px;
    overflow: auto;
    float: right;
}

.fb {
    width: 50px;
    height: 50px;
    background-color: darkgray;
    margin: 0px 20px;
    float: left;
}

.twitter {
    width: 50px;
    height: 50px;
    background-color: darkgray;
    float: left;
    margin: 0px 20px;
}

.dribble {
    width: 50px;
    height: 50px;
    background-color: darkgray;
    float: left;
    margin: 0px 20px;
}

.behance {
    width: 50px;
    height: 50px;
    background-color: darkgray;
    float: left;
    margin: 0px 20px;
}
